   <!-- Footer -->


<footer id="myFooter">
<div class="row marginIn">
		<div class="col-md-3 col-xs-6">
            <ul style="list-style-type: none;" >
              <li class="footerTitle">Pages<li>
              <li><a class="footerLink" href="/#blah"> Get Hiking</a></li>
              <li><a class="footerLink" href="/tips"> Get Informed</a></li>
              <li><a class="footerLink" href="/social"> Get Involved</a></li>
            </ul>
		</div>	  
          <div class="col-md-3 col-xs-6">
            <ul style="list-style-type: none;">
              <li class="footerTitle">Check Out These Sites<li>
              <li><a class="footerLink" href="http://sandiego.sierraclub.org/home/index.asp">Sierra Club </a></li>
              <li><a class="footerLink" href="http://alltrails.com/search?q=san+diego&ref=search">All Trials</a></li>
              <li><a class="footerLink" href="http://www.sandiegocounty.gov/parks/hikes.html">Parks and Recreation</a></li>          
            </ul>
          </div>
          <div class="col-md-3 col-xs-6">
            <ul style="list-style-type: none;">
              <li class="footerTitle">The Iterative Design Process<li>
              <li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wf1">wireframe #1</a></li>
              <li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wf2">wireframe #2</a></li>
              <li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wfFinal">wireframe #2</a></li>
            </ul>
		</div>
          <div class="col-md-3 col-xs-6">
            <ul style="list-style-type: none;">
              <li class="footerTitle">Designed by<li>
              <li><a class="footerLink" href="#">JIMMY NGUYEN</a></li>
              <li><a class="footerLink" href="#">NATASHA SPRINGER</a></li>
              <li><a class="footerLink" href="#">CHELSEA PATTEE</a></li>
            </ul>
      </div> 
</footer>
<footer id="secondFooter">
      <div class="row marginIn">
        <div class="col-md-3">
          <a class="footerLink" href="#">Terms of Service</a>
		</div>
		<div class="col-md-3">
          <a class="footerLink" href="#">Privacy</a>
		</div>
		<div class="col-md-3">
          <a class="footerLink" href="#">Security</a>
		  </div>
		<div class="col-md-3">
          <div class="footerTitle">&#169;2014 COGS187A FALL. All rights reserved</div>
      </div>
	  </div>
    </div>
</div>
</footer>