<% include header %>
<!-- PAGE-HEADER-->
<div class="page-header">
    <div class="container">
	  <div class="row">
		  <div class="col-sm-12 skipNav">
			<h1>Inaja Memorial Trail</h1>    <!-- TRAIL NAME -->
		  </div>
	  </div>
	</div>
</div>

<!-- Example row of columns -->
<div class="container">
<div class="row">
<div class="col-sm-8">
<!-- Carousel -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner"> 
    <div class="item active">       <!-- TRAIL IMAGES -->
      <img src="/img/TrailImages/Inaja/Inaja1.jpg" style="width:100%" class="img-responsive">
    </div>
	<div class="item">              <!-- TRAIL IMAGES -->
      <img src="/img/TrailImages/Inaja/Inaja2.jpg" style="width:100%" class="img-responsive">
    </div>
	<div class="item">              <!-- TRAIL IMAGES -->
      <img src="/img/TrailImages/Inaja/Inaja3.jpg" style="width:100%" class="img-responsive">
    </div>
	<div class="item">              <!-- TRAIL IMAGES -->
      <img src="/img/TrailImages/Inaja/Inaja4.jpg" style="width:100%" class="img-responsive">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /Carousel -->
		                            <!-- TRAIL PARAGRAPH -->
		<p class="lead">At this trail there are picnic tables by the
		river which is a great place to hang out. Its a nice trail for
		families and to just get out for a short easy walk. 
</p>
		
		<p> 
		    
		    This trail
		is known for some great scenic views of the river and
		surrounding mountains and hills. The trail is among massive
		trees and boulders and allows you to really submerge yourself
		into the wilderness. This trial is best during March to November and requires a $5 fee. 
		   </p> 
		   <p> 
		    Address- Inaja Memorial Park Santa Ysabel, CA 92070

</p>

</div>
<!-- /CONTENT SIDE-->
   
                                    <!-- TRAIL RIGHT SIDE -->   
<div class="col-sm-4" style="background-color:RGBA(102, 102, 102, 1)">
		<h4>Specs</h4>
	<hr>
		<table class="table">
        <tbody>
            <tr>
                <td><img src="/img/filter-lg/0-06.png"></td>
                <td><h4>Easy</h4></td>
            </tr>
						<tr>
                <td><img src="/img/filter-lg/0-03.png"></td>
                <td><h4>.5 mi</h4></td>
            </tr>
            <tr>
                <td><img src="/img/filter-lg/0-09.png"></td>
                <td><h4>.5 hr</h4></td>
            </tr>
        </tbody>
    </table>
	<div>
		 <h4>Trail</hs4>
			<hr>
			<div class="col-sm-8">
				<img src="/img/MapSimpleTraced/sad.png">
			</div>
			<div class="col-sm-4">
				<h5>Oh no! The map for this trail could not be found.</h5>
			</div>
	</div>
		</br>
	<div>
		<h4>Activities</hs4>
			<hr>
			<img src="/img/icons/activity/hiker.png">
	</div>
		</br>
<h4>Weather</h4>
	<hr>
	<div class="col-md-3">
		<table class="table">
        <tbody>
            <tr>
                <td><img src="/img/climacons/SVG/Cloud-Fog.svg"></td>
                <td><img src="/img/climacons/SVG/Sun.svg"></td>
								<td><img src="/img/climacons/SVG/Cloud-Sun.svg"></td>
            </tr>
						<tr>
                <td><h2>68</h2></td>
                <td><h2>73</h2></td>
                <td><h2>70</h2></td>
            </tr>
            <tr>
                <td><h4>NOW</h4></td>
                <td><h4>TUE</h4></td>
								<td><h4>WED</h4></td>
            </tr>
        </tbody>
    </table>
		</div>
		
   </br>
   </br> 
    </div>
                                       <!-- / TRAIL RIGHT SIDE--> 
</div>  <!--/ row -->
</div> <!--/ container -->
<!--/ CONTENT -->

<div class="container"> <!-- CONTAINER FOOTER-->
<hr>
	<h4>Similar Trails</h4>
	<div class="row">
	   <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default">       <!-- TRAIL THUMBNAIL -->
          <div class="panel-thumbnail"><a href="/hike4"><img src="/img/TrailFilter/LaJolla2.jpg" class="img-responsive"></a></div>
          <div class="panelStyle">
            <h5>La Jolla Coast Walk Trail</h5>   <!--  TRAIL NAME -->
          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-12">
      	<div class="panel panel-default">       <!-- TRAIL THUMBNAIL -->
          <div class="panel-thumbnail"><a href="/hike12"><img src="/img/TrailFilter/DiscoveryLake6.jpg" class="img-responsive"></a></div>
          <div class="panelStyle">
            <h5>Discovery Lake and Hills Loop</h5>   <!--  TRAIL NAME -->
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-12">
      	<div class="panel panel-default">       <!-- TRAIL THUMBNAIL -->
          <div class="panel-thumbnail"><a href="/hike13" title="Interiors"><img src="/img/TrailFilter/LosJilgueros4.jpg" class="img-responsive"></a></div>
          <div class="panelStyle">
            <h5>Los Jilgueros Preserve Trail</h5>   <!--  TRAIL NAME -->
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
	</div>
</div>  <!-- /CONTAINER FOOTER-->

<% include footer %>
</body>
</html>
<% include script %>