<!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript">
window.google = window.google || {};
google.maps = google.maps || {};
(function() {
  
  function getScript(src) {
    document.write('<' + 'script src="' + src + '"><' + '/script>');
  }
  
  var modules = google.maps.modules = {};
  google.maps.__gjsload__ = function(name, text) {
    modules[name] = text;
  };
  
  google.maps.Load = function(apiLoad) {
    delete google.maps.Load;
    apiLoad([0.009999999776482582,[[["http://mt0.googleapis.com/vt?lyrs=m@318000000\u0026src=api\u0026hl=en-US\u0026","http://mt1.googleapis.com/vt?lyrs=m@318000000\u0026src=api\u0026hl=en-US\u0026"],null,null,null,null,"m@318000000",["https://mts0.google.com/vt?lyrs=m@318000000\u0026src=api\u0026hl=en-US\u0026","https://mts1.google.com/vt?lyrs=m@318000000\u0026src=api\u0026hl=en-US\u0026"]],[["http://khm0.googleapis.com/kh?v=183\u0026hl=en-US\u0026","http://khm1.googleapis.com/kh?v=183\u0026hl=en-US\u0026"],null,null,null,1,"183",["https://khms0.google.com/kh?v=183\u0026hl=en-US\u0026","https://khms1.google.com/kh?v=183\u0026hl=en-US\u0026"]],null,[["http://mt0.googleapis.com/vt?lyrs=t@132,r@318000000\u0026src=api\u0026hl=en-US\u0026","http://mt1.googleapis.com/vt?lyrs=t@132,r@318000000\u0026src=api\u0026hl=en-US\u0026"],null,null,null,null,"t@132,r@318000000",["https://mts0.google.com/vt?lyrs=t@132,r@318000000\u0026src=api\u0026hl=en-US\u0026","https://mts1.google.com/vt?lyrs=t@132,r@318000000\u0026src=api\u0026hl=en-US\u0026"]],null,null,[["http://cbk0.googleapis.com/cbk?","http://cbk1.googleapis.com/cbk?"]],[["http://khm0.googleapis.com/kh?v=87\u0026hl=en-US\u0026","http://khm1.googleapis.com/kh?v=87\u0026hl=en-US\u0026"],null,null,null,null,"87",["https://khms0.google.com/kh?v=87\u0026hl=en-US\u0026","https://khms1.google.com/kh?v=87\u0026hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt?hl=en-US\u0026","http://mt1.googleapis.com/mapslt?hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt/ft?hl=en-US\u0026","http://mt1.googleapis.com/mapslt/ft?hl=en-US\u0026"]],[["http://mt0.googleapis.com/vt?hl=en-US\u0026","http://mt1.googleapis.com/vt?hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt/loom?hl=en-US\u0026","http://mt1.googleapis.com/mapslt/loom?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt?hl=en-US\u0026","https://mts1.googleapis.com/mapslt?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt/ft?hl=en-US\u0026","https://mts1.googleapis.com/mapslt/ft?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt/loom?hl=en-US\u0026","https://mts1.googleapis.com/mapslt/loom?hl=en-US\u0026"]]],["en-US","US",null,0,null,null,"http://maps.gstatic.com/mapfiles/","http://csi.gstatic.com","https://maps.googleapis.com","http://maps.googleapis.com",null,"https://maps.google.com","https://gg.google.com","http://maps.gstatic.com/maps-api-v3/api/images/","https://www.google.com/maps",0,"https://www.google.com"],["http://maps.googleapis.com/maps-api-v3/api/js/22/2","3.22.2"],[1623066109],1,null,null,null,null,null,"",null,null,0,"http://khm.googleapis.com/mz?v=183\u0026",null,"https://earthbuilder.googleapis.com","https://earthbuilder.googleapis.com",null,"http://mt.googleapis.com/vt/icon",[["http://mt0.googleapis.com/vt","http://mt1.googleapis.com/vt"],["https://mts0.googleapis.com/vt","https://mts1.googleapis.com/vt"],null,null,null,null,null,null,null,null,null,null,["https://mts0.google.com/vt","https://mts1.google.com/vt"],"/maps/vt",318000000,132],2,500,[null,"http://g0.gstatic.com/landmark/tour","http://g0.gstatic.com/landmark/config",null,"http://www.google.com/maps/preview/log204","","http://static.panoramio.com.storage.googleapis.com/photos/",["http://geo0.ggpht.com/cbk","http://geo1.ggpht.com/cbk","http://geo2.ggpht.com/cbk","http://geo3.ggpht.com/cbk"],"http://maps.googleapis.com/maps/api/js/GeoPhotoService.GetMetadata","http://maps.googleapis.com/maps/api/js/GeoPhotoService.SingleImageSearch"],["https://www.google.com/maps/api/js/master?pb=!1m2!1u22!2s2!2sen-US!3sUS!4s22/2","https://www.google.com/maps/api/js/widget?pb=!1m2!1u22!2s2!2sen-US"],null,0,null,"/maps/api/js/ApplicationService.GetEntityDetails",0,null,null,[null,null,null,null,null,null,null,null,null,[0,0],[0,null,1,"0","0","U","0","0","0","0"]]], loadScriptTime);
  };
  var loadScriptTime = (new Date).getTime();
  getScript("http://maps.googleapis.com/maps-api-v3/api/js/22/2/main.js");
})();		
</script>
<script type="text/javascript">
        
            function init_map() {
            /*	document.getElementById("map-canvas").style.height=  $('.intro').height() + "px";
            	$('#sideBar').affix({
      				offset: {
        					top: $('.intro').height() + 60
      				}
      			});*/
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
					 //var myLatlng = new google.maps.LatLng(32.94530135,-117.2121048);
			  /*var myLatlng = new google.maps.LatLng(32.93406422,-117.06396103);*/
			  var myLatlng = new google.maps.LatLng(33.05,-116.98);
               var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 9,

                   // The latitude and longitude to center the map (always required)
                    center: myLatlng, // Poway
                    disableDefaultUI: true,
                    scrollwheel: false,

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [	{		featureType:"all",		elementType:"all",		stylers:[		{			invert_lightness:true		},		{			saturation:50		},		{			lightness:30		},		{			gamma:0.6		},		{			hue:"#68B8C4"		}		]	}	]
                }
                disableDefaultUI: true
                
			
				
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				var mapCenter = map.getCenter();

				var infowindow = new google.maps.InfoWindow();

				for( var i =0; i < trails.length; i++){
					var hike = trails[i];
					var myLatLng = new google.maps.LatLng(hike[1], hike[2]);
					var marker = new google.maps.Marker({
						position: myLatLng,
						map: map,
						title: hike[0]
					});
					google.maps.event.addListener(marker, 'click', (function(mm, tt) {
    					return function() {
        					infowindow.setContent(tt);
        					infowindow.open(map, mm);
   						}
					})(marker, hike[3]));

				}
			
		//Resize Function
		google.maps.event.addDomListener(window, "resize", function() {
			var center = mapCenter; //map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		}); 
	}  


            var trails = [
					['Mt. Woodson Trail, CA', 33.013972, -116.955385, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike1" class="hikeName">Mt. Woodson Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Cowles Mountain Trail', 32.8078478, -117.03320059999999, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike2" class="hikeName">Cowles Mountain Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-07.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Bayside Traill', 32.6745224, -117.2395043, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike3" class="hikeName">Bayside Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['La Jolla Coast Walk Trail', 32.8487571, -117.2682813, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike4" class="hikeName">La Jolla Coast Walk Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],	
					
					
					['Guy Fleming Trail, CA', 32.9239154, -117.2569755, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike5" class="hikeName firstHeading">Guy Fleming Trail </a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-07.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['San Elijo Lagoon', 33.0140584, -117.25291449999997, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike6" class="hikeName firstHeading">San Elijo Lagoon </a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Batiquitos Lagoon Trail', 33.0892947, -117.2925942, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike7" class="hikeName firstHeading">Batiquitos Lagoon Trail </a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Inaja Memorial Trail', 33.0978894, -116.66675759999998, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike8" class="hikeName firstHeading">Inaja Memorial Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Palomar Observatory Trail', 33.0978894, -116.66675759999998, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike9" class="hikeName firstHeading">Palomar Observatory Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Los Penasquitos Canyon Trail', 32.9411151, -117.13586850000002, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike10" class="hikeName firstHeading">Los Penasquitos Canyon Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['North Shore Lake Hodges Trail', 33.0575366, -117.11832509999999, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike11" class="hikeName firstHeading">North Shore Lake Hodges Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Discovery Lake and Hills Loop', 33.1272429, -117.17680589999998, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike12" class="hikeName firstHeading">Discovery Lake and Hills Loop</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-07.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Los Jilgueros Preserve Trail', 33.3594224, -117.2463004, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike13" class="hikeName firstHeading">Los Jilgueros Preserve Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-07.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Wilderness Gardens Preserve', 33.3243386, -116.96169409999999, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike14" class="hikeName firstHeading">Wilderness Gardens Preserve</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-08.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['San Miguel Mountain Trail', 32.98167919999999, -117.02092870000001, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike15" class="hikeName firstHeading">San Miguel Mountain Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Fortuna Mountain', 32.846993, -117.06030829999997, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike16" class="hikeName firstHeading">Fortuna Mountain</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Lawson Peak Trail', 32.7261668, -116.72640899999999, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike17" class="hikeName firstHeading">Lawson Peak Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Cedar Creek Falls to Devils Punchbowl', 32.9951857, -116.75624290000002, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike18" class="hikeName firstHeading">Cedar Creek Falls to Devils Punchbowl</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Three Sisters Falls Trail', 33.0333791, -116.6349826, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike19" class="hikeName firstHeading">Three Sisters Falls Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-06.png">' +
					'</div>'+
					'</div>' +
					'</div>'],
					
					['Iron Mountain Summit Trail', 32.978466, -116.97337340000001, 
					'<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<a href="/hike20" class="hikeName firstHeading">Iron Mountain Summit Trail</a>'+
					'<div class="bodyContent">'+
					'<div class="coolContent">'+
					'<br><p> Difficulty: </p>' +
					'<img class="difFix" src="img/filter/1-09.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p> Distance: </p>' +
					'<img class="disFix" src="img/filter/0-10.png">' +
					'</div>'+
					'<div class="coolContent">'+
					'<p class="difFix"> Duration: </p>' +
					'<img src="img/filter/0-05.png">' +
					'</div>'+
					'</div>' +
					'</div>']
			];
			
		google.maps.event.addDomListener(window, 'load', init_map);
		
        window.onload = init_map;
		
</script>